@model WebAuth.Models.Animal.PersonPet

@{
    ViewBag.Title = "Pet Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h3 class="text-center">All Pets</h3>
    <p class="p-2">
        @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "btn btn-md btn-gradient btn-success text-white shadow-md rounded-5" })
    </p>
    <hr />
    <div class="">
        <div class="card bg-gradient bg-opacity-50 m-4 shadow-lg rounded-5">
            <div class="card-header shadow-sm bg-white">
                <h2 class="h3 text-center m-4">@Html.DisplayFor(model => model.Pet.Name)</h2>
                <hr />
                <div class="card-body">
                    <br />
                    <div class="row">
                        <div class="col-6">
                            <p class="text-center text-capitalize mt-5 mb-3"><strong>Image</strong></p>

                            <figure class="card-img align-items-center mb-3 container-sm figure-img rounded-circle">
                                <img src="@Url.Content($"../{Model.Pet.Image.Path}" ?? Model.Pet.Image.Path)" alt="@Html.DisplayFor(model => model.Pet.Image.Tag)" style="width: 150px; height: 150px; " class="img-thumbnail figure-img shadow-sm rounded-5 rounded-circle mb-2 ms-5" />
                            </figure>
                        </div>
                        <div class="col-6">
                            <p class="text-center text-capitalize mt-5"><strong>About</strong></p>
                            <b>@Html.DisplayNameFor(model => model.Pet.Name)</b>
                            @Html.DisplayFor(model => model.Pet.Name)
                            <br />
                            <b>@Html.DisplayNameFor(model => model.Pet.Type):</b>
                            @Html.DisplayFor(model => model.Pet.Type)
                            <br />
                            <b>@Html.DisplayNameFor(model => model.Pet.Genre):</b>
                            @Html.DisplayFor(model => model.Pet.Genre)
                            <br />
                            <b>@Html.DisplayNameFor(model => model.Pet.Age):</b>
                            @Html.DisplayFor(model => model.Pet.Age)
                            <br />
                            <b>@Html.DisplayNameFor(model => model.Pet.Birthday):</b>
                            @Html.DisplayFor(model => model.Pet.Birthday)
                            <br />
                            <b>@Html.DisplayNameFor(model => model.Pet.PersonId):</b>
                            @Html.DisplayFor(model => model.Person.FirstName) @Html.DisplayFor(model => model.Person.LastName)
                        </div>
                    </div>
                    </div>
                    <div class="rounded">
                        <div class="card-footer bg-gradient bg-light text-center rounded-pill">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Pet.Id }, new { @class = "btn btn-md btn-gradient btn-warning text-white rounded-pill" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = Model.Pet.Id }, new { @class = "btn btn-md btn-gradient btn-danger text-white rounded-pill" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>