@model IEnumerable<WebAuth.Models.Animal.PeoplePets>

@{
    ViewBag.Title = "Pet Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h3 class="text-center">All Pets</h3>
    <p class="p-2">
        @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "btn btn-md btn-gradient btn-success text-white shadow-md rounded-5" })
    </p>
    <hr />
    @foreach (var item in Model)
    {
        <div class="">
            <div class="card bg-gradient bg-opacity-50 m-4 shadow-lg rounded-5">
                <div class="card-header shadow-sm bg-white">
                    <h3 class="h3 text-center m-4">@Html.DisplayFor(model => item.Pets.Name)</h3>
                    <hr />
                    <div class="card-body">
                        <br />
                        <div>
                            <h5 class="h-50 mb-2 text-center">Animal de Estimação</h5>
                            <div class="card-body row m-3">
                                <div class="col-md-6">
                                    <p class="text-center text-capitalize mt-5"><strong>Imagem do Animal de Estimação</strong></p>
                                    <figure class="card-img align-items-center mb-3 container-sm figure">
                                        <img src="@Url.Content($"{item.Pets.Image.Path}" ?? item.Pets.Image.Path)" alt="@Html.DisplayFor(model => item.Pets.Image.Tag)" style="width: 150px; height: 150px; " class="img-thumbnail figure-img shadow-sm rounded-5 rounded-circle mb-2 ms-5" />
                                    </figure>
                                    <div>
                                        <p class="text-center text-capitalize"><strong>Info Pet</strong></p>
                                        <b>@Html.DisplayNameFor(model => model.Pets.Name)</b>
                                        @Html.DisplayFor(model => item.Pets.Name)
                                        <br />
                                        <b>@Html.DisplayNameFor(model => model.Pets.Type):</b>
                                        @Html.DisplayFor(model => item.Pets.Type)
                                        <br />
                                        <b>@Html.DisplayNameFor(model => model.Pets.Genre):</b>
                                        @Html.DisplayFor(model => item.Pets.Genre)
                                        <br />
                                        <b>@Html.DisplayNameFor(model => model.Pets.Age):</b>
                                        @Html.DisplayFor(model => item.Pets.Age)
                                        <br />
                                        <b>@Html.DisplayNameFor(model => model.Pets.Birthday):</b>
                                        @Html.DisplayFor(model => item.Pets.Birthday)
                                        <br />
                                        <b>@Html.DisplayNameFor(model => model.Pets.PersonId):</b>
                                        @Html.DisplayFor(model => item.People.FirstName)  @Html.DisplayFor(model => item.People.LastName)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rounded">
                            <div class="card-footer bg-gradient bg-light text-center rounded-pill">
                                @Html.ActionLink("Edit", "Edit", new { id = item.Pets.Id }, new { @class = "btn btn-md btn-gradient btn-warning text-white rounded-pill" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Pets.Id }, new { @class = "btn btn-md btn-gradient btn-primary text-white rounded-pill" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Pets.Id }, new { @class = "btn btn-md btn-gradient btn-danger text-white rounded-pill" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>