@model WebAuth.Models.Perfil.Schedule

@{
    ViewBag.Title = "Schedule Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h3 class="text-center">Delete Pet</h3>
    <div class="text-right">
        @Html.ActionLink("Back to List", "Index", new { area = "" }, new { @class = "btn btn-primary text-white mt-2 rounded-pill" })
    </div>
    <hr />
    <div class="">
        <div class="card bg-gradient bg-opacity-50 m-4 shadow-lg rounded-5">
            <div class="card-header shadow-sm bg-white">
                <h2 class="h3 text-center m-4">@Html.DisplayFor(model => model.Services)</h2>
                <hr />
                <div class="card-body">
                    <div>
                        <h5 class="h-50 mb-3 text-center">Agendamento Petshop</h5>
                        <div class="card-body row m-3">
                            <div class="col-md-6">
                                <b>@Html.DisplayNameFor(model => model.Services):</b>
                                @Html.DisplayFor(model => model.Services)
                                <br />
                                <b>@Html.DisplayNameFor(model => model.Date):</b>
                                @Html.DisplayFor(model => model.Date)
                                <br />
                                <b>@Html.DisplayNameFor(model => model.Time):</b>
                                @Html.DisplayFor(model => model.Time)
                                <br />
                                <b>@Html.DisplayNameFor(model => model.PersonId):</b>
                                @Html.DisplayFor(model => model.PersonId)
                            </div>
                        </div>
                    </div>
                    <div class="rounded">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="form-control btn btn-md btn-gradient btn-danger text-white rounded-pill" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>